.subscribe-nav {
    font-family: "madamedium";
    background-color: #f44336;
    font-size: 24px;
    padding: 12px 28px;
    border: none;
    color: #fff;
    transition-duration: 0.3s;
    margin: 2%;
}

.subscribe-nav:hover {
    border: 5px solid #f44336;
    background-color: #fff;
    color: #000;
}

.subscribe-footer {
    position: relative;
    display: flex;
    align-content: center;
  }
  
  .email-term {
    width: 50%;
    background-color: #000;
    border: 2px solid #fff;
    padding: 6px;
    height: 20px;
    outline: none;
    color: #fff;
    margin-right: 1%;
    font-size: 16px;
  }
  
  .subscribe-button {
    font-family: "madamedium";
    height: 36px;
    border: none;
    background: #fff;
    text-align: center;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.1s;
  }

  .subscribe-button:hover {
      background-color: #000;
      color: #fff;
      border: 5px solid #fff;
  }

  @media only screen and (max-width: 800px) {
    .emailTerm {
      width: 100%;
    }

  }